{% extends 'index.html' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center w-100 vh-100 bg-success">
        <div class="bg-white p-4 d-flex flex-column" style="border-radius: 15px; width: 40%">
            <h1 class="text-center fw-bold pb-3">Sign Up</h1>
            <form class="d-flex flex-column" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3">
                    {{ form.fname(class="form-control", placeholder="First name") }}
                    <label for="fname">First name</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.sname(class="form-control", placeholder="Last name") }}
                    <label for="sname">Last name</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.uname(class="form-control", placeholder="Username") }}
                    <label for="uname">Username</label>
                    {% if form.uname.errors %}
                        <div class="text-danger m-1">
                            <p class="text-danger m-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                                {{ form.uname.errors[0] }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="form-floating mb-3">
                    {{ form.email(class="form-control", placeholder="Email") }}
                    <label for="email">Email</label>
                    {% if form.email.errors %}
                        <div class="text-danger m-1">
                            <p class="text-danger m-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                                {{ form.email.errors[0] }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="form-floating mb-3">
                    {{ form.email_confirm(class="form-control", placeholder="Confirm Email") }}
                    <label for="email_confirm">Confirm Email</label>
                    {% if form.email_confirm.errors %}
                        <div class="text-danger m-1">
                            <p class="text-danger m-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                                {{ form.email_confirm.errors[0] }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="form-floating mb-3">
                    {{ form.pswd(class="form-control", placeholder="Password") }}
                    <label for="pswd">Password</label>
                </div>
                <p class="p-2 text-muted">Already have an account? <a href="/sign-in">Sign In</a></p>
                <div class="align-self-end">
                    <button class="btn btn-success w-100 mt-3">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}